.well-known
static/sitemap.html
static/sitemap.xml
*.pyc
cache/*
images/*
media/*
igrushec/*
system/*
staticBack/*
/uwsgi.core
/sftp-config.json
shop/templates/robots.txt
/uwsgi
*.sql
robots.txt
wsgi.py
manage.py
dump.rdb
__pycache__/*
static/js/cache/
static/css/cache/
static/js/mobile/cache/
static/css/mobile/cache/
